.contact_card_container{
    width: 600px;
    border-radius: 20px;
    transition: all .2s ease-in;
    cursor: pointer;
    &:hover{
        box-shadow: 1px 1px 5px 5px rgba(255, 192, 203, 0.436);
    }
    .contact_card_wrapper{
        display: flex;
        align-items: center;
        padding: .2rem;
        gap: 1rem;
        width: 100%;
        .left_sec{
            display: flex;
            width: 50px;
            img{
                border: solid 2px rgba(255, 192, 203, 0.195);
                width: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }
    }
}
@media screen and (max-width:765px) {
    .contact_card_container{
        width: 100%;
    }
}