.errorContainer {
    height: calc(100vh - 90px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;

    h1 {
        font-size: 50px;
        display: inline-block;
        padding-right: 12px;
        animation: type .5s alternate infinite;
        color: rgb(195, 138, 147);
    }
}


@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px rgb(105, 48, 58);
    }

    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}